.lightScrollBar::-webkit-scrollbar {
  width: 7px;
}

.lightScrollBar::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 6px;
}

.lightScrollBar::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

.lightScrollBar::-webkit-scrollbar-track {
  background: #ffffff;
}

.lightScrollBar::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

/* scrollabr when in darkmode */
.darkScrollBar::-webkit-scrollbar {
  width: 7px;
}

.darkScrollBar::-webkit-scrollbar-thumb {
  background: #354453;
  border-radius: 6px;
}

.darkScrollBar::-webkit-scrollbar-thumb:hover {
  background: #435668;
}

.darkScrollBar::-webkit-scrollbar-track {
  background: #212b36;
}

.darkScrollBar::-webkit-scrollbar-track:hover {
  background: #2c3846;
}

/* main scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
  background: #ddd;
}

/* SHIMMER EFFECTS */
.shimmer-light-mode {
  cursor: none;
  background: linear-gradient(90deg, #f0f0f0 25%, #ffffff 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer-animation 1.5s infinite;
}

.shimmer-dark-mode {
  background: linear-gradient(90deg, #212b36 25%, #4a5e79 50%, #212b36 75%);
  background-size: 200% 100%;
  animation: shimmer-animation 1.5s infinite;
}

@keyframes shimmer-animation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
